@page
@model ConfirmEmailChangeModel

@using RSCAnderlechtF.Models;
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Confirm email change");
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
