@page
@model ForgotPasswordConfirmation

@using RSCAnderlechtF.Models;
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Forgot password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @language.Getkey("Please check your email to reset your password.")
</p>
