@page
@model LockoutModel

@using RSCAnderlechtF.Models;
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Locked out");
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@language.Getkey("This account has been locked out, please try again later").</p>
</header>
